.widget {
  background: #FDFDFD;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  align: center;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.fieldlabel {
  float: left;
  width: 200px; 
  padding-right: 10px;
  padding-top: 5px;
  text-align: right;
}

.errorbanner {
  color: #ffffff;
  background: #AA0000;
  padding: 4px;
  width: 100%;
  font-weight: bold;
}

.fielderror {
  font-size: 8pt;
  color: red;
}

input {
  width: 250px;
}
