<div class="widget">
  <app-errorbanner [message]="errormessage"></app-errorbanner>
  <h2>Enter your information to create a profile</h2>
  <p>
    <span class="fieldlabel">Email</span>
    <input [(ngModel)]="email"/>
  </p>
  <div *ngIf="field_errors.hasOwnProperty('email')" class="fielderror">
    {{field_errors['email']}}
  </div>
  <p>
    <span class="fieldlabel">Password</span>
    <input [(ngModel)]="password" type="password"/>
  </p>
  <p>
    <span class="fieldlabel">Confirm Password</span>
    <input [(ngModel)]="confirm_password" type="password"/>
  </p>
  <div *ngIf="field_errors.hasOwnProperty('password')" class="fielderror">
    {{field_errors['password']}}
  </div>
  <p>
    <span class="fieldlabel">Phone Number</span>
    <input [(ngModel)]="phone"/>
  </p>
  <div *ngIf="field_errors.hasOwnProperty('phone')" class="fielderror">
    {{field_errors['phone']}}
  </div>
  <p>
    <button (click)="doSignup()">Sign up</button>
  </p>
  <p>
    <a routerLink="../login" routerLinkActive="active">Have an account?</a>
  </p> 
</div>
